.title {
	text-align: center;
}

#center {
	text-align: center;
}


.engineButton {
	text-align: center;
}

.Title {
	text-align: center;
	font-size: 80px;
}

.warning {
	text-align: center;
	color: green;
}